# LIBRERIAS

In [3]:
import pandas as pd

# ARCHIVO CSV

In [5]:
tabla = pd.read_csv("listings.csv")

In [6]:
tabla.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,269467,https://www.airbnb.com/rooms/269467,20240615011618,2024-06-15,city scrape,Sunny and quiet Loft next to Sagrada Familia,The apartment is a cosy open space with 65 m2....,NaN,https://a0.muscache.com/pictures/a6445a90-94eb...,1411775,...,4.79,4.81,4.67,HUTB-001129,t,3,3,0,0,1.15
1,270197,https://www.airbnb.com/rooms/270197,20240615011618,2024-06-15,city scrape,*monthly stays* 4 Bedroom Apartment near Rambla,Rented only for monthly periods. 4 bedroom apa...,NaN,https://a0.muscache.com/pictures/69907440-d8df...,1414702,...,5.00,5.00,4.50,N/A SOLO ESTANCIAS MENSUALES,f,27,27,0,0,0.02

## DIMENSIONES

In [8]:
tabla.shape

(18925, 75)

## COLUMNAS

In [10]:
tabla.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

## FILTRADO COLUMNAS

In [12]:
columnas_filtradas = [
    "description",
    "name",
    "host_since",
    "host_location",
    "host_is_superhost",
    "host_identity_verified",
    "host_has_profile_pic",
    "neighbourhood_group_cleansed",
    "latitude",
    "longitude",
    "property_type",
    "room_type",
    "accommodates",
    "bathrooms",
    "bedrooms",
    "beds",
    "amenities",
    "price",
    "minimum_nights",
    "maximum_nights",
    "has_availability",
    "availability_30",
    "availability_60",
    "number_of_reviews",
    "last_review",
    "review_scores_rating",
    "review_scores_cleanliness",
    "review_scores_checkin",
    "review_scores_communication",
    "review_scores_location",
    "review_scores_value",
    "reviews_per_month",
    "license",
    "instant_bookable",
    "listing_url"
]

In [13]:
tabla_filtrada = tabla[columnas_filtradas]

In [14]:
tabla_filtrada.shape

(18925, 35)

In [15]:
tabla_filtrada.isnull().sum()

description                      683
name                               0
host_since                         2
host_location                   4428
host_is_superhost                124
host_identity_verified             2
host_has_profile_pic               2
neighbourhood_group_cleansed       0
latitude                           0
longitude                          0
property_type                      0
room_type                          0
accommodates                       0
bathrooms                       3743
bedrooms                        1882
beds                            3838
amenities                          0
price                           3736
minimum_nights                     0
maximum_nights                     0
has_availability                1050
availability_30                    0
availability_60                    0
number_of_reviews                  0
last_review                     4787
review_scores_rating            4787
review_scores_cleanliness       4808
review_scores_checkin           4810
review_scores_communication     4807
review_scores_location          4810
review_scores_value             4809
reviews_per_month               4787
license                         6138
instant_bookable                   0
listing_url                        0
dtype: int64

# MIS COLUMNAS

In [17]:
my_colums = ['description', 'name', 'host_since', 'host_location', 'host_is_superhost', 'host_identity_verified', 'host_has_profile_pic', 'price']

In [18]:
my_table = tabla_filtrada[my_colums]

### NULOS

In [20]:
my_table.isnull().sum()

description                683
name                         0
host_since                   2
host_location             4428
host_is_superhost          124
host_identity_verified       2
host_has_profile_pic         2
price                     3736
dtype: int64

### VALORES UNICOS DE CADA COLUMNA

In [22]:
my_table.nunique()

description               15377
name                      18205
host_since                 3476
host_location               415
host_is_superhost             2
host_identity_verified        2
host_has_profile_pic          2
price                       828
dtype: int64

## COLUMNA 'PRICE'

### ELIMINAR NULOS DE 'PRICE'

In [25]:
my_table = my_table.dropna(subset=['price'])

In [26]:
my_table.isnull().sum()

description                487
name                         0
host_since                   0
host_location             3232
host_is_superhost          119
host_identity_verified       0
host_has_profile_pic         0
price                        0
dtype: int64

### CAMBIAR TIPO DE VALOR Y QUITAR SIMBOLO $ EN 'PRICE'

In [28]:
my_table['price'] = my_table['price'].str.replace('[\$,]', '', regex=True).astype(float)

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\Alejandro\AppData\Local\Temp\ipykernel_12888\2406339868.py:1: SyntaxWarning: invalid escape sequence '\$'
  my_table['price'] = my_table['price'].str.replace('[\$,]', '', regex=True).astype(float)

In [29]:
my_table.head(2)

,description,name,host_since,host_location,host_is_superhost,host_identity_verified,host_has_profile_pic,price
0,The apartment is a cosy open space with 65 m2....,Sunny and quiet Loft next to Sagrada Familia,2011-11-16,"Barcelona, Spain",f,t,t,176.0
1,Rented only for monthly periods. 4 bedroom apa...,*monthly stays* 4 Bedroom Apartment near Rambla,2011-11-16,"Barcelona, Spain",f,t,t,74.0

## COLUMNA 'HOST_IS_SUPERHOST'

### CAMBIAR TIPO DE DATO A BOOLEANO

In [32]:
my_table['host_is_superhost'] = my_table['host_is_superhost'].map({'t': True, 'f': False})

In [33]:
my_table.head()

,description,name,host_since,host_location,host_is_superhost,host_identity_verified,host_has_profile_pic,price
0,The apartment is a cosy open space with 65 m2....,Sunny and quiet Loft next to Sagrada Familia,2011-11-16,"Barcelona, Spain",False,t,t,176.0
1,Rented only for monthly periods. 4 bedroom apa...,*monthly stays* 4 Bedroom Apartment near Rambla,2011-11-16,"Barcelona, Spain",False,t,t,74.0
2,110m2 apartment to rent in Barcelona. Located ...,Huge flat for 8 people close to Sagrada Familia,2010-01-19,"Barcelona, Spain",False,t,t,257.0
4,"Beautiful spacious apartment, large terrace, 5...","Forum CCIB DeLuxe, Spacious, Large Balcony, relax",2010-03-09,"Catalonia, Spain",False,t,t,249.0
5,A lovely two bedroom apartment only 250 m from...,Sagrada Familia area - CÃ²rsega 1,2010-05-31,"Barcelona, Spain",False,t,t,240.0

In [34]:
my_table['host_is_superhost'].unique()

array([False, True, nan], dtype=object)

In [35]:
my_table['host_is_superhost'].describe()

count     15070
unique        2
top       False
freq      11579
Name: host_is_superhost, dtype: object

### RELLENAR LOS NULOS DE 'HOST_IS_SUPERHOST' CON FALSE

In [37]:
my_table['host_is_superhost'] = my_table['host_is_superhost'].fillna(False)

C:\Users\Alejandro\AppData\Local\Temp\ipykernel_12888\2064531406.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  my_table['host_is_superhost'] = my_table['host_is_superhost'].fillna(False)

In [38]:
my_table.isnull().sum()

description                487
name                         0
host_since                   0
host_location             3232
host_is_superhost            0
host_identity_verified       0
host_has_profile_pic         0
price                        0
dtype: int64

In [39]:
my_table['host_is_superhost'].describe()

count     15189
unique        2
top       False
freq      11698
Name: host_is_superhost, dtype: object

## COLUMNA 'HOST_IDENTITY_VERIFIED'

### CAMBIAR TIPO DE DATO A BOOLEANO

In [42]:
my_table['host_identity_verified'] = my_table['host_identity_verified'].map({'t': True, 'f': False})

In [43]:
my_table.head()

,description,name,host_since,host_location,host_is_superhost,host_identity_verified,host_has_profile_pic,price
0,The apartment is a cosy open space with 65 m2....,Sunny and quiet Loft next to Sagrada Familia,2011-11-16,"Barcelona, Spain",False,True,t,176.0
1,Rented only for monthly periods. 4 bedroom apa...,*monthly stays* 4 Bedroom Apartment near Rambla,2011-11-16,"Barcelona, Spain",False,True,t,74.0
2,110m2 apartment to rent in Barcelona. Located ...,Huge flat for 8 people close to Sagrada Familia,2010-01-19,"Barcelona, Spain",False,True,t,257.0
4,"Beautiful spacious apartment, large terrace, 5...","Forum CCIB DeLuxe, Spacious, Large Balcony, relax",2010-03-09,"Catalonia, Spain",False,True,t,249.0
5,A lovely two bedroom apartment only 250 m from...,Sagrada Familia area - CÃ²rsega 1,2010-05-31,"Barcelona, Spain",False,True,t,240.0

In [44]:
my_table['host_identity_verified'].unique()

array([ True, False])

In [45]:
my_table['host_identity_verified'].describe()

count     15189
unique        2
top        True
freq      14667
Name: host_identity_verified, dtype: object

## COLUMNA 'HOST_HAS_PROFILE_PIC'

### CAMBIAR TIPO DE DATO A BOOLEANO

In [48]:
my_table['host_has_profile_pic'] = my_table['host_has_profile_pic'].map({'t': True, 'f': False})

In [49]:
my_table.head()

,description,name,host_since,host_location,host_is_superhost,host_identity_verified,host_has_profile_pic,price
0,The apartment is a cosy open space with 65 m2....,Sunny and quiet Loft next to Sagrada Familia,2011-11-16,"Barcelona, Spain",False,True,True,176.0
1,Rented only for monthly periods. 4 bedroom apa...,*monthly stays* 4 Bedroom Apartment near Rambla,2011-11-16,"Barcelona, Spain",False,True,True,74.0
2,110m2 apartment to rent in Barcelona. Located ...,Huge flat for 8 people close to Sagrada Familia,2010-01-19,"Barcelona, Spain",False,True,True,257.0
4,"Beautiful spacious apartment, large terrace, 5...","Forum CCIB DeLuxe, Spacious, Large Balcony, relax",2010-03-09,"Catalonia, Spain",False,True,True,249.0
5,A lovely two bedroom apartment only 250 m from...,Sagrada Familia area - CÃ²rsega 1,2010-05-31,"Barcelona, Spain",False,True,True,240.0

In [50]:
my_table['host_identity_verified'].unique()

array([ True, False])

In [51]:
my_table['host_identity_verified'].describe()

count     15189
unique        2
top        True
freq      14667
Name: host_identity_verified, dtype: object

In [52]:
my_table.isnull().sum()

description                487
name                         0
host_since                   0
host_location             3232
host_is_superhost            0
host_identity_verified       0
host_has_profile_pic         0
price                        0
dtype: int64

## COLUMNA 'HOST_SINCE'

### CAMBIAR TIPO DE DATO A FECHA

In [55]:
my_table['host_since'] = pd.to_datetime(my_table['host_since'])

## COLUMNA 'HOST_LOCATION'

### CONVERTIR LOS NULOS EN VALOR 'SIN RELLENAR'

In [58]:
my_table['host_location'] = my_table['host_location'].fillna('sin rellenar')

### TRANSFORMAR EL FORMATO A TIPO STRING

In [60]:
my_table['host_location'] = my_table['host_location'].astype(str)

### CREAR LISTA CON LOS VALORES QUE CONTIENEN 'SPAIN'

In [62]:
list_spain = my_table[my_table['host_location'].apply(lambda x: 'spain' in x.lower())]['host_location'].unique()

### CREAR UNA LISTA CON LOS VALORES A BORRAR, LOS QUE NO TIENEN 'SPAIN' Y 'SIN RELLENAR'

In [64]:
list_drop = my_table[my_table['host_location'].apply(lambda x: 'spain' not in x.lower() and 'sin rellenar' not in x.lower())]['host_location'].unique()

### BORRAR VALORES

In [66]:
my_table = my_table[~my_table['host_location'].isin(list_drop)]

### REEMPLAR TODOS LOS VALORES DE LIST_SPAIN A SPAIN

In [68]:
my_table['host_location'] = my_table['host_location'].replace(list_spain, 'spain')

# COMPROVACION

In [70]:
my_table['host_location'].unique()

array(['spain', 'sin rellenar'], dtype=object)

In [71]:
my_table.isnull().sum()

description               471
name                        0
host_since                  0
host_location               0
host_is_superhost           0
host_identity_verified      0
host_has_profile_pic        0
price                       0
dtype: int64

In [72]:
my_table.dtypes

description                       object
name                              object
host_since                datetime64[ns]
host_location                     object
host_is_superhost                   bool
host_identity_verified              bool
host_has_profile_pic                bool
price                            float64
dtype: object

In [73]:
my_table.head()

,description,name,host_since,host_location,host_is_superhost,host_identity_verified,host_has_profile_pic,price
0,The apartment is a cosy open space with 65 m2....,Sunny and quiet Loft next to Sagrada Familia,2011-11-16,spain,False,True,True,176.0
1,Rented only for monthly periods. 4 bedroom apa...,*monthly stays* 4 Bedroom Apartment near Rambla,2011-11-16,spain,False,True,True,74.0
2,110m2 apartment to rent in Barcelona. Located ...,Huge flat for 8 people close to Sagrada Familia,2010-01-19,spain,False,True,True,257.0
4,"Beautiful spacious apartment, large terrace, 5...","Forum CCIB DeLuxe, Spacious, Large Balcony, relax",2010-03-09,spain,False,True,True,249.0
5,A lovely two bedroom apartment only 250 m from...,Sagrada Familia area - CÃ²rsega 1,2010-05-31,spain,False,True,True,240.0