# LIBRERIAS

In [16]:
import pandas as pd

# DATAFRAME

In [18]:
tabla = pd.read_csv("listings.csv")

In [19]:
tabla.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,269467,https://www.airbnb.com/rooms/269467,20240615011618,2024-06-15,city scrape,Sunny and quiet Loft next to Sagrada Familia,The apartment is a cosy open space with 65 m2....,NaN,https://a0.muscache.com/pictures/a6445a90-94eb...,1411775,...,4.79,4.81,4.67,HUTB-001129,t,3,3,0,0,1.15
1,270197,https://www.airbnb.com/rooms/270197,20240615011618,2024-06-15,city scrape,*monthly stays* 4 Bedroom Apartment near Rambla,Rented only for monthly periods. 4 bedroom apa...,NaN,https://a0.muscache.com/pictures/69907440-d8df...,1414702,...,5.00,5.00,4.50,N/A SOLO ESTANCIAS MENSUALES,f,27,27,0,0,0.02

In [20]:
tabla.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [21]:
vercolumna = tabla['license']
print(vercolumna)

0                         HUTB-001129
1        N/A SOLO ESTANCIAS MENSUALES
2                         HUTB-002062
3                          HUTB003208
4                          HUTB005057
                     ...
18920                          Exempt
18921                             NaN
18922                             NaN
18923                          Exempt
18924                     HUTS-736927
Name: license, Length: 18925, dtype: object

# DIMENSIONES Y NULOS

In [23]:
tabla.shape

(18925, 75)

In [24]:
tabla.isnull().sum()

id                                                 0
listing_url                                        0
scrape_id                                          0
last_scraped                                       0
source                                             0
                                                ...
calculated_host_listings_count                     0
calculated_host_listings_count_entire_homes        0
calculated_host_listings_count_private_rooms       0
calculated_host_listings_count_shared_rooms        0
reviews_per_month                               4787
Length: 75, dtype: int64

In [35]:
tabla = tabla.dropna(subset=["price"])

# MIS COLUMNAS

In [37]:
colums = ['description',
          'name',
          'host_since',
          'host_location',
          'host_is_superhost',
          'host_identity_verified',
          'host_has_profile_pic']

In [39]:
mi_tabla = tabla[colums].copy()

In [41]:
mi_tabla.isnull().sum()

description                487
name                         0
host_since                   0
host_location             3232
host_is_superhost          119
host_identity_verified       0
host_has_profile_pic         0
dtype: int64

In [45]:
mi_tabla.head()

,description,name,host_since,host_location,host_is_superhost,host_identity_verified,host_has_profile_pic
0,The apartment is a cosy open space with 65 m2....,Sunny and quiet Loft next to Sagrada Familia,2011-11-16,"Barcelona, Spain",f,t,t
1,Rented only for monthly periods. 4 bedroom apa...,*monthly stays* 4 Bedroom Apartment near Rambla,2011-11-16,"Barcelona, Spain",f,t,t
2,110m2 apartment to rent in Barcelona. Located ...,Huge flat for 8 people close to Sagrada Familia,2010-01-19,"Barcelona, Spain",f,t,t
4,"Beautiful spacious apartment, large terrace, 5...","Forum CCIB DeLuxe, Spacious, Large Balcony, relax",2010-03-09,"Catalonia, Spain",f,t,t
5,A lovely two bedroom apartment only 250 m from...,Sagrada Familia area - Còrsega 1,2010-05-31,"Barcelona, Spain",f,t,t