In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os as os
import statsmodels.formula.api as smf

In [78]:
tabla1 = pd.read_csv("ProjectClean2.csv")

In [80]:
df = tabla1

In [100]:
df.columns

Index(['host_since', 'host_location', 'host_is_superhost',
       'host_identity_verified', 'host_has_profile_pic', 'neighbourhood',
       'latitude', 'longitude', 'room_type', 'accommodates', 'bathrooms',
       'bedrooms', 'beds', 'price', 'minimum_nights', 'maximum_nights',
       'has_availability', 'availability_30', 'availability_60',
       'number_of_reviews', 'last_review', 'review_scores_rating',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month', 'instant_bookable',
       'bathroom_type', 'has_license', 'has_terrace', 'has_wifi',
       'pet_allowed', 'has_AC', 'has_kitchen'],
      dtype='object')

In [82]:
df.head()

,host_since,host_location,host_is_superhost,host_identity_verified,host_has_profile_pic,neighbourhood,latitude,longitude,room_type,accommodates,...,review_scores_value,reviews_per_month,instant_bookable,bathroom_type,has_license,has_terrace,has_wifi,pet_allowed,has_AC,has_kitchen
0,4646,spain,False,True,True,eixample,41.401810,2.17610,entire_home_apt,2,...,4.67,1.15,True,1,True,True,True,False,True,True
1,4646,spain,False,True,True,ciutat_vella,41.379360,2.17376,entire_home_apt,6,...,4.50,0.02,False,1,True,False,True,False,False,True
2,5312,spain,False,True,True,eixample,41.405560,2.17262,entire_home_apt,8,...,4.30,0.30,True,1,True,True,True,False,True,True
3,5263,spain,False,True,True,sant_marti,41.412432,2.21975,entire_home_apt,5,...,4.64,0.48,False,1,True,True,True,False,True,True
4,5180,spain,False,True,True,gracia,41.405660,2.17015,entire_home_apt,6,...,4.50,0.77,False,1,True,True,True,False,True,True

In [108]:
independent_vars = [
    'host_since', 'host_location', 'host_is_superhost',
    'host_identity_verified', 'host_has_profile_pic', 'neighbourhood',
    'latitude', 'longitude', 'room_type', 'accommodates', 'bathrooms',
    'bedrooms', 'beds', 'minimum_nights', 'maximum_nights',
    'has_availability', 'availability_30', 'availability_60',
    'number_of_reviews', 'last_review', 'review_scores_rating',
    'review_scores_cleanliness', 'review_scores_checkin',
    'review_scores_communication', 'review_scores_location',
    'review_scores_value', 'reviews_per_month', 'instant_bookable',
    'bathroom_type', 'has_license', 'has_terrace', 'has_wifi',
    'pet_allowed', 'has_AC', 'has_kitchen'
]

In [118]:
#Creo el modelo
modelo = smf.ols(
    formula = 'price ~ ' + ' + '.join(independent_vars),
    data = df
).fit()

p_valores = modelo.pvalues
variables_significativas = p_valores<0.05

In [129]:
variables_no_significativas = p_valores[p_valores >= 0.05]
variables_no_significativas

Intercept                          0.566743
host_is_superhost[T.True]          0.085574
host_identity_verified[T.True]     0.963546
host_has_profile_pic[T.True]       0.317894
neighbourhood[T.eixample]          0.573628
neighbourhood[T.gracia]            0.460608
neighbourhood[T.horta_guinardo]    0.165703
neighbourhood[T.nou_barris]        0.675584
neighbourhood[T.sant_andreu]       0.057549
neighbourhood[T.sant_marti]        0.513527
neighbourhood[T.sants_montjuic]    0.457040
room_type[T.hotel_room]            0.430494
has_availability[T.True]           0.774538
has_terrace[T.True]                0.189566
has_wifi[T.True]                   0.145048
host_since                         0.431035
latitude                           0.570562
longitude                          0.655288
bedrooms                           0.158573
beds                               0.607199
maximum_nights                     0.574249
number_of_reviews                  0.172822
review_scores_rating               0.686227
review_scores_checkin              0.695795
review_scores_communication        0.957160
review_scores_location             0.108926
review_scores_value                0.762391
reviews_per_month                  0.350640
bathroom_type                      0.077537
dtype: float64

In [148]:
variable_names = [
    'host_is_superhost',
    'host_identity_verified',
    'host_has_profile_pic',
    'room_type',
    'has_availability',
    'has_terrace',
    'has_wifi',
    'host_since',
    'latitude',
    'longitude',
    'bedrooms',
    'beds',
    'maximum_nights',
    'number_of_reviews',
    'review_scores_rating',
    'review_scores_checkin',
    'review_scores_communication',
    'review_scores_location',
    'review_scores_value',
    'reviews_per_month',
    'bathroom_type'
]

In [150]:
df_filtrado = df.drop(columns=variable_names)

In [152]:
df_filtrado.head()

,host_location,neighbourhood,accommodates,bathrooms,price,minimum_nights,availability_30,availability_60,last_review,review_scores_cleanliness,instant_bookable,has_license,pet_allowed,has_AC,has_kitchen
0,spain,eixample,2,1.0,176.0,7.0,0,0,75.0,4.59,True,True,False,True,True
1,spain,ciutat_vella,6,1.5,74.0,32.0,0,0,2914.0,4.50,False,True,False,False,True
2,spain,eixample,8,2.0,257.0,1.0,10,36,95.0,4.63,True,True,False,True,True
3,spain,sant_marti,5,2.0,249.0,3.0,10,20,77.0,4.89,False,True,False,True,True
4,spain,gracia,6,1.5,240.0,1.0,4,6,61.0,4.39,False,True,False,True,True

In [174]:
#Dividir los datos en testing y training
from sklearn.model_selection import train_test_split

X = df_filtrado.loc[:, df_filtrado.columns != "price"]
y = df_filtrado.loc[:, "price"]

In [177]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    train_size = 0.75,
    test_size = 0.25
)

In [180]:
X_train.shape

(11391, 14)

In [183]:
X_test.shape

(3798, 14)

In [193]:
y_test.shape, y_train.shape

((3798,), (11391,))